/src/backend/vendor/
/src/backend/node_modules/
/src/backend/public/storage/
/src/backend/storage/*.key
/src/backend/storage/logs/
/src/backend/storage/framework/cache/data/
/src/backend/storage/framework/sessions/
/src/backend/storage/framework/views/
/src/backend/bootstrap/cache/*.php
!/src/backend/bootstrap/cache/.gitignore

/src/backend/.env
/src/backend/.env.*
/src/backend/.phpunit.result.cache
/src/backend/Homestead.yaml
/src/backend/Homestead.json

/src/frontend/node_modules/
/src/frontend/dist/
/src/frontend/.env
/src/frontend/.env.*

/pgdata/
/docker-compose.override.yml
*.log

/src/backend/composer.lock
/src/frontend/package-lock.json
/src/frontend/pnpm-lock.yaml
/src/frontend/yarn.lock

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/.env
/.env.*
